:root {
    --primary1: #f13b1b;
    --primary2: #0a62e7;

    --secondary1: #000000;
    --secondary2: #fff;

    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    font-weight: bolder;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem var(--secondary1);
}

.main {
    flex-grow: 1;

    box-shadow: 0.25rem 0.25rem 0.25rem var(--secondary1);

    padding: 2rem 4rem;

    display: grid;
    grid-template-columns: 4fr 6fr;
    min-height: 60vh;
}

.main > div {
    border-radius: 1rem;
}

#statusDiv {
    color: var(--secondary2);
    background: var(--secondary1);
    cursor: none;
    border-radius: 0.25rem;
}

#statusDiv.won {
    color: var(--secondary2);
    box-shadow: 0.25rem 0.25rem 0.25rem var(--secondary1);
    position: relative;
    background: none;
    z-index: 1;
}

#statusDiv.won::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    left: 0;
}

#statusDiv.won.player1::before {
    background-color: var(--primary1);
}

#statusDiv.won.player2::before {
    background-color: var(--primary2);
}

.settings {
    background: linear-gradient(#7bdbec, #dcf7d6);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

.form > div {
    transition: all 200ms ease-in-out;
}

.form > div:hover {
    transform: scale(1.1);
}

.main .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.form ul {
    display: flex;
    flex-direction: column;
    gap :1rem;
}

.form > div {
    padding: 1rem 2rem;
    background: var(--secondary2);
    cursor: pointer;
    border-radius: 0.25rem;
    box-shadow: 0.15rem 0.15rem 0.15rem var(--secondary1);
}

ul li {
    list-style-type: none;

    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

ul input {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.25rem 0.3rem 0.1rem;
    outline: none;
    border: none;
    box-shadow: 0.15rem 0.15rem 0.15rem var(--secondary1);
    font-family: inherit;
    border-radius: 0.25rem;
}

#player1name,
#player1mark {
    color: var(--primary1);
}

#player1mark {
    margin-bottom: 1rem;
}

#player2name,
#player2mark {
    color: var(--primary2);
}

.footer {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

.board {
    padding: 2rem 6rem;
    background: linear-gradient(#e1edf0, #13bed4);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border-radius: 0.5rem;
    border-right: 0.25rem solid black;
    border-bottom: 0.25rem solid black;
    background: var(--secondary2);
    transition: all 200ms ease-in;
}

.square > span {
    pointer-events: none;
    font-size: 8rem;
}

.square > span.red {
    color: var(--primary1);
}

.square > span.blue {
    color: var(--primary2);
}

.square:hover {
    transform: scale(1.1);
}

@media (max-width: 1000px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 6fr;
        gap: 1rem;
    }

    .settings {
        padding: 1rem;
    }
}